.splash{
  height: 89vh;
  width: 100%;
  background-image: url(../assets/images/7135.jpg);
  background-origin: border-box;
  background-size: cover;
  text-align: center;
  font-family: "Arimo", sans-serif;
  position: absolute;
}

.navbar´ {
  height: 10vh;
}
.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.titleblue {
  font-size: 80px;
  color: aqua;
  margin-top: 7vh;
}

.bg-banner {
  margin-left: 90%;
}

.titlered {
  font-size: 70px;
  color: rgb(255, 0, 0);
}

.titlebluesm {
  font-size: 30px;
  color: aqua;
}


.titlebluemd {
  font-size: 50px;
  margin-top: 7vh;
  color: aqua !important;
}

.nav-color {
  color: aqua !important;
}

.icon:hover {
  color: aqua !important;
}

.red{
  color: red;
  font-size: 25px;
}
#rectangle {
  background-color: rgb(255, 0, 0);
  position: relative;
  float: right;
  top: 100px;
  width: 10vh;
  height: calc(100% - 50vh);
  width: calc(10% - 100px);
  height: 60vh;
  color: white;
  font-size: 25px;
  padding-top: 70px;
  line-height: 40px;
}
